<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {{#each data}}
        {{#if this.ind}}
            <div class="carousel-item active">
                <img src="{{this.src}}" class="d-block w-100" alt="{{this.alt}}">
            </div> 
        {{else}}
            <div class="carousel-item ">
                <img src="{{this.src}}" class="d-block w-100" alt="{{this.alt}}">
            </div> 
        {{/if}}
    {{/each}}
  </div>
</div>
{{!-- {{#each data}}
    {{this.src}}
{{/each}} --}}

{{!-- <h3>{{data.[0].src}}</h3> --}}